body {
    background: #000;
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: UbuntuL;
    color: #fff;
    display: grid;
    grid-template-areas: "algo-info menu" "algo-info container";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 25vw 1fr;
    /* grid-gap: 10px; */
    height: 100vh;
    width: 100vw;
}

#algo-info {
    grid-area: algo-info;
    /* border-top: 10px solid #333; */
    background: #222;
    height: 100%;
    width: 100%;
}

#container {
    grid-area: container;
    width: 100%;
    /* height: auto; */
    border-top: #333 10px solid;
}

#bars {
    width: 700px;
    margin: auto;
    height: 500px;
}

.bar {
    background: green;
    border-right: 2px solid #000;
    margin: 0px;
    display: inline-block;
    position: relative;
    bottom: 0px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.compared {
    transition: background-color ease-in 0.5s;
    background: #77c9d4;
}

.red {
    background: red;
}

input[type="button"] {
    border: none;
    background: #555;
    padding: 20px;
    color: #fff;
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="button"]:hover {
    opacity: 1;
}

html body div input[disabled] {
    background: #222;
    color: #888;
    opacity: 0.5;
    cursor: not-allowed !important;
}

input[disabled]:hover {
    opacity: 1;
}

label {
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}
input[type="range"] {
    padding: 0px;
    margin: 0px;
}

#menu {
    background: #000;
    grid-area: menu;
    display: grid;
    grid-template-areas: "sliders algos buttons";
    grid-gap: 25px;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 0px;
}

a#repository {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

a#repository img {
    width: 50px;
    height: 50px;
}

#sliders {
    grid-area: sliders;
    margin: auto;
    width: 300px;
}

#algos {
    grid-area: algos;
    align-items: center;
    margin: auto;
    width: 300px;
}

#algos select {
    width: 200px;
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    font-family: UbuntuL;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

#algos select[disabled] {
    color: #fff;
    opacity: 0.5;
    cursor: not-allowed;
}

#buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 300px;
}

#buttons input[type="button"] {
    position: relative;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.slider {
    display: block;
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    text-align: right;
    width: 70px;
    padding: 10px 15px 10px 0px;
}

.slider input {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #555;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider input#delay {
    direction: rtl;
}

.slider input:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider input[disabled]:hover {
    opacity: 0.5;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: greenyellow;
    cursor: pointer;
}

.slider input[disabled]::-webkit-slider-thumb {
    cursor: not-allowed;
}

.slider input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}
span.count {
    display: inline-block;
    width: 20px;
    text-align: left;
    font-weight: bold;
    padding: 2px 0px 0px 5px;
}

input[type="button"].green {
    background: greenyellow;
    color: #000;
}
