body {
    background: #999;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    border-top: #222 10px solid;
}

#bars {
    width: 700px;
    margin: auto;
    height: 500px;
}

.bar {
    background: green;
    border-right: 2px solid #000;
    margin: 0px;
    display: inline-block;
    position: relative;
    bottom: 0px;
    vertical-align: top;
    text-align: center;
    color: #fff;
    font-family: Microsoft Sans Serif;
}

.compared {
    background: lightseagreen;
}

.red {
    background: red;
}

button {
    border: none;
    background: #222;
    color: #fff;
    padding: 20px;
}
